<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ReturnBookCreateDlg" widgetVar="ReturnBookCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateReturnBookTitle}">
            <h:form id="ReturnBookCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{returnBookController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateReturnBookLabel_returnBookId}" for="returnBookId" />
                        <p:inputText id="returnBookId" value="#{returnBookController.selected.returnBookId}" title="#{bundle.CreateReturnBookTitle_returnBookId}" required="true" requiredMessage="#{bundle.CreateReturnBookRequiredMessage_returnBookId}"/>
                        <p:outputLabel value="#{bundle.CreateReturnBookLabel_returnDate}" for="returnDate" />
                        <p:calendar id="returnDate" pattern="MM/dd/yyyy" value="#{returnBookController.selected.returnDate}" title="#{bundle.EditReturnBookTitle_returnDate}" required="true" requiredMessage="#{bundle.EditReturnBookRequiredMessage_returnDate}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateReturnBookLabel_userId}" for="userId" />
                        <p:selectOneMenu id="userId" value="#{returnBookController.selected.userId}" >
                            <f:selectItems value="#{userController.itemsAvailableSelectOne}"
                                           var="userIdItem"
                                           itemValue="#{userIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateReturnBookLabel_bookId}" for="bookId" />
                        <p:selectOneMenu id="bookId" value="#{returnBookController.selected.bookId}" required="true" requiredMessage="#{bundle.EditReturnBookRequiredMessage_bookId}">
                            <f:selectItems value="#{bookController.itemsAvailableSelectOne}"
                                           var="bookIdItem"
                                           itemValue="#{bookIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{returnBookController.create}" value="#{bundle.Save}" update="display,:ReturnBookListForm:datalist,:growl" oncomplete="handleSubmit(args,'ReturnBookCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ReturnBookCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
