<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListReturnBookTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="ReturnBookListForm">
                <p:panel header="#{bundle.ListReturnBookTitle}">
                    <p:dataTable id="datalist" value="#{returnBookController.items}" var="item"
                                 selectionMode="single" selection="#{returnBookController.selected}"
                                 paginator="true"
                                 rowKey="#{item.returnBookId}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListReturnBookTitle_returnBookId}"/>
                            </f:facet>
                            <h:outputText value="#{item.returnBookId}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListReturnBookTitle_returnDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.returnDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListReturnBookTitle_userId}"/>
                            </f:facet>
                            <h:outputText value="#{item.userId}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListReturnBookTitle_bookId}"/>
                            </f:facet>
                            <h:outputText value="#{item.bookId}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{returnBookController.prepareCreate}" update=":ReturnBookCreateForm" oncomplete="PF('ReturnBookCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":ReturnBookViewForm" oncomplete="PF('ReturnBookViewDialog').show()" disabled="#{empty returnBookController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":ReturnBookEditForm" oncomplete="PF('ReturnBookEditDialog').show()" disabled="#{empty returnBookController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{returnBookController.destroy}" update=":growl,datalist" disabled="#{empty returnBookController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
