<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BookCreateDlg" widgetVar="BookCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateBookTitle}">
            <h:form id="BookCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bookController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateBookLabel_bookName}" for="bookName" />
                        <p:inputText id="bookName" value="#{bookController.selected.bookName}" title="#{bundle.CreateBookTitle_bookName}" required="true" requiredMessage="#{bundle.CreateBookRequiredMessage_bookName}"/>
                        <p:outputLabel value="#{bundle.CreateBookLabel_bookEdition}" for="bookEdition" />
                        <p:inputText id="bookEdition" value="#{bookController.selected.bookEdition}" title="#{bundle.CreateBookTitle_bookEdition}" required="true" requiredMessage="#{bundle.CreateBookRequiredMessage_bookEdition}"/>
                        <p:outputLabel value="#{bundle.CreateBookLabel_bookNumber}" for="bookNumber" />
                        <p:inputText id="bookNumber" value="#{bookController.selected.bookNumber}" title="#{bundle.CreateBookTitle_bookNumber}" />
                        <p:outputLabel value="#{bundle.CreateBookLabel_publisher}" for="publisher" />
                        <p:inputText id="publisher" value="#{bookController.selected.publisher}" title="#{bundle.CreateBookTitle_publisher}" />
                        <p:outputLabel value="#{bundle.CreateBookLabel_quantity}" for="quantity" />
                        <p:inputText id="quantity" value="#{bookController.selected.quantity}" title="#{bundle.CreateBookTitle_quantity}" />
                        <p:outputLabel value="#{bundle.CreateBookLabel_bookStatus}" for="bookStatus" />
                        <p:inputText id="bookStatus" value="#{bookController.selected.bookStatus}" title="#{bundle.CreateBookTitle_bookStatus}" />
                        <p:outputLabel value="#{bundle.CreateBookLabel_borrowedBookCount}" for="borrowedBookCount" />
                        <p:inputText id="borrowedBookCount" value="#{bookController.selected.borrowedBookCount}" title="#{bundle.CreateBookTitle_borrowedBookCount}" />
                        <p:outputLabel value="#{bundle.CreateBookLabel_reserveBookCount}" for="reserveBookCount" />
                        <p:inputText id="reserveBookCount" value="#{bookController.selected.reserveBookCount}" title="#{bundle.CreateBookTitle_reserveBookCount}" />
                        <p:outputLabel value="#{bundle.CreateBookLabel_barcodeId}" for="barcodeId" />
                        <p:inputText id="barcodeId" value="#{bookController.selected.barcodeId}" title="#{bundle.CreateBookTitle_barcodeId}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{bookController.create}" value="#{bundle.Save}" update="display,:BookListForm:datalist,:growl" oncomplete="handleSubmit(args,'BookCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="BookCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
