<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BookEditDlg" widgetVar="BookEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditBookTitle}">
            <h:form id="BookEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bookController.selected != null}">
                        <p:outputLabel value="#{bundle.EditBookLabel_bookName}" for="bookName" />
                        <p:inputText id="bookName" value="#{bookController.selected.bookName}" title="#{bundle.EditBookTitle_bookName}" required="true" requiredMessage="#{bundle.EditBookRequiredMessage_bookName}"/>
                        <p:outputLabel value="#{bundle.EditBookLabel_bookEdition}" for="bookEdition" />
                        <p:inputText id="bookEdition" value="#{bookController.selected.bookEdition}" title="#{bundle.EditBookTitle_bookEdition}" required="true" requiredMessage="#{bundle.EditBookRequiredMessage_bookEdition}"/>
                        <p:outputLabel value="#{bundle.EditBookLabel_bookNumber}" for="bookNumber" />
                        <p:inputText id="bookNumber" value="#{bookController.selected.bookNumber}" title="#{bundle.EditBookTitle_bookNumber}" />
                        <p:outputLabel value="#{bundle.EditBookLabel_publisher}" for="publisher" />
                        <p:inputText id="publisher" value="#{bookController.selected.publisher}" title="#{bundle.EditBookTitle_publisher}" />
                        <p:outputLabel value="#{bundle.EditBookLabel_quantity}" for="quantity" />
                        <p:inputText id="quantity" value="#{bookController.selected.quantity}" title="#{bundle.EditBookTitle_quantity}" />
                        <p:outputLabel value="#{bundle.EditBookLabel_bookStatus}" for="bookStatus" />
                        <p:inputText id="bookStatus" value="#{bookController.selected.bookStatus}" title="#{bundle.EditBookTitle_bookStatus}" />
                        <p:outputLabel value="#{bundle.EditBookLabel_borrowedBookCount}" for="borrowedBookCount" />
                        <p:inputText id="borrowedBookCount" value="#{bookController.selected.borrowedBookCount}" title="#{bundle.EditBookTitle_borrowedBookCount}" />
                        <p:outputLabel value="#{bundle.EditBookLabel_reserveBookCount}" for="reserveBookCount" />
                        <p:inputText id="reserveBookCount" value="#{bookController.selected.reserveBookCount}" title="#{bundle.EditBookTitle_reserveBookCount}" />
                        <p:outputLabel value="#{bundle.EditBookLabel_barcodeId}" for="barcodeId" />
                        <p:inputText id="barcodeId" value="#{bookController.selected.barcodeId}" title="#{bundle.EditBookTitle_barcodeId}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{bookController.update}" value="#{bundle.Save}" update="display,:BookListForm:datalist,:growl" oncomplete="handleSubmit(args, 'BookEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="BookEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
