<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BookViewDlg" widgetVar="BookViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewBookTitle}">
            <h:form id="BookViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bookController.selected != null}">
                        <h:outputText value="#{bundle.ViewBookLabel_bookId}"/>
                        <h:outputText value="#{bookController.selected.bookId}" title="#{bundle.ViewBookTitle_bookId}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_bookName}"/>
                        <h:outputText value="#{bookController.selected.bookName}" title="#{bundle.ViewBookTitle_bookName}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_bookEdition}"/>
                        <h:outputText value="#{bookController.selected.bookEdition}" title="#{bundle.ViewBookTitle_bookEdition}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_bookNumber}"/>
                        <h:outputText value="#{bookController.selected.bookNumber}" title="#{bundle.ViewBookTitle_bookNumber}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_publisher}"/>
                        <h:outputText value="#{bookController.selected.publisher}" title="#{bundle.ViewBookTitle_publisher}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_quantity}"/>
                        <h:outputText value="#{bookController.selected.quantity}" title="#{bundle.ViewBookTitle_quantity}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_bookStatus}"/>
                        <h:outputText value="#{bookController.selected.bookStatus}" title="#{bundle.ViewBookTitle_bookStatus}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_borrowedBookCount}"/>
                        <h:outputText value="#{bookController.selected.borrowedBookCount}" title="#{bundle.ViewBookTitle_borrowedBookCount}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_reserveBookCount}"/>
                        <h:outputText value="#{bookController.selected.reserveBookCount}" title="#{bundle.ViewBookTitle_reserveBookCount}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_barcodeId}"/>
                        <h:outputText value="#{bookController.selected.barcodeId}" title="#{bundle.ViewBookTitle_barcodeId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="BookViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
