<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListGroupsTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="GroupsListForm">
                <p:panel header="#{bundle.ListGroupsTitle}">
                    <p:dataTable id="datalist" value="#{groupsController.items}" var="item"
                                 selectionMode="single" selection="#{groupsController.selected}"
                                 paginator="true"
                                 rowKey="#{item.groupId}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListGroupsTitle_groupId}"/>
                            </f:facet>
                            <h:outputText value="#{item.groupId}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListGroupsTitle_groupname}"/>
                            </f:facet>
                            <h:outputText value="#{item.groupname}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{groupsController.prepareCreate}" update=":GroupsCreateForm" oncomplete="PF('GroupsCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":GroupsViewForm" oncomplete="PF('GroupsViewDialog').show()" disabled="#{empty groupsController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":GroupsEditForm" oncomplete="PF('GroupsEditDialog').show()" disabled="#{empty groupsController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{groupsController.destroy}" update=":growl,datalist" disabled="#{empty groupsController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                    <h:commandLink>
                        <p:graphicImage library="images" name="xml.png"/>
                        <p:dataExporter type="xml" target="datalist" fileName="groupsList" pageOnly="true" />
                    </h:commandLink>

                    <h:commandLink>
                        <p:graphicImage library="images" name="csv.png" />
                        <p:dataExporter type="csv" target="datalist" fileName="groupsList" pageOnly="true" />
                    </h:commandLink>

                    <h:commandLink>
                        <p:graphicImage library="images" name="pdf.png" />
                        <p:dataExporter type="pdf" target="datalist" fileName="groupsList" pageOnly="true" />
                    </h:commandLink>

                    <h:commandLink>
                        <p:graphicImage library="images" name="excel.png" />
                        <p:dataExporter type="xls" target="datalist" fileName="groupsList" pageOnly="true"/>
                    </h:commandLink>                    
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
