<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GroupsViewDlg" widgetVar="GroupsViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewGroupsTitle}">
            <h:form id="GroupsViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{groupsController.selected != null}">
                        <h:outputText value="#{bundle.ViewGroupsLabel_groupId}"/>
                        <h:outputText value="#{groupsController.selected.groupId}" title="#{bundle.ViewGroupsTitle_groupId}"/>
                        <h:outputText value="#{bundle.ViewGroupsLabel_groupname}"/>
                        <h:outputText value="#{groupsController.selected.groupname}" title="#{bundle.ViewGroupsTitle_groupname}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="GroupsViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
