<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FinesViewDlg" widgetVar="FinesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewFinesTitle}">
            <h:form id="FinesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{finesController.selected != null}">
                        <h:outputText value="#{bundle.ViewFinesLabel_fineId}"/>
                        <h:outputText value="#{finesController.selected.fineId}" title="#{bundle.ViewFinesTitle_fineId}"/>
                        <h:outputText value="#{bundle.ViewFinesLabel_fineamount}"/>
                        <h:outputText value="#{finesController.selected.fineamount}" title="#{bundle.ViewFinesTitle_fineamount}"/>
                        <h:outputText value="#{bundle.ViewFinesLabel_userId}"/>
                        <h:outputText value="#{finesController.selected.userId}" title="#{bundle.ViewFinesTitle_userId}"/>
                        <h:outputText value="#{bundle.ViewFinesLabel_bookId}"/>
                        <h:outputText value="#{finesController.selected.bookId}" title="#{bundle.ViewFinesTitle_bookId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="FinesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
