<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ReserveBookViewDlg" widgetVar="ReserveBookViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewReserveBookTitle}">
            <h:form id="ReserveBookViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{reserveBookController.selected != null}">
                        <h:outputText value="#{bundle.ViewReserveBookLabel_reserveBookId}"/>
                        <h:outputText value="#{reserveBookController.selected.reserveBookId}" title="#{bundle.ViewReserveBookTitle_reserveBookId}"/>
                        <h:outputText value="#{bundle.ViewReserveBookLabel_reserveStartDate}"/>
                        <h:outputText value="#{reserveBookController.selected.reserveStartDate}" title="#{bundle.ViewReserveBookTitle_reserveStartDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewReserveBookLabel_reserveFinishDate}"/>
                        <h:outputText value="#{reserveBookController.selected.reserveFinishDate}" title="#{bundle.ViewReserveBookTitle_reserveFinishDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewReserveBookLabel_userId}"/>
                        <h:outputText value="#{reserveBookController.selected.userId}" title="#{bundle.ViewReserveBookTitle_userId}"/>
                        <h:outputText value="#{bundle.ViewReserveBookLabel_bookId}"/>
                        <h:outputText value="#{reserveBookController.selected.bookId}" title="#{bundle.ViewReserveBookTitle_bookId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ReserveBookViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
