<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserHistoryCreateDlg" widgetVar="UserHistoryCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateUserHistoryTitle}">
            <h:form id="UserHistoryCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{userHistoryController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateUserHistoryLabel_username}" for="username" />
                        <p:inputText id="username" value="#{userHistoryController.selected.username}" title="#{bundle.CreateUserHistoryTitle_username}" />
                        <p:outputLabel value="#{bundle.CreateUserHistoryLabel_timeStamp}" for="timeStamp" />
                        <p:calendar id="timeStamp" pattern="MM/dd/yyyy" value="#{userHistoryController.selected.timeStamp}" title="#{bundle.EditUserHistoryTitle_timeStamp}"  showOn="button"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{userHistoryController.create}" value="#{bundle.Save}" update="display,:UserHistoryListForm:datalist,:growl" oncomplete="handleSubmit(args,'UserHistoryCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UserHistoryCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
