<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListUserHistoryTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="UserHistoryListForm">
                <p:panel header="#{bundle.ListUserHistoryTitle}">
                    <p:dataTable id="datalist" value="#{userHistoryController.items}" var="item"
                                 selectionMode="single" selection="#{userHistoryController.selected}"
                                 paginator="true"
                                 rowKey="#{item.userHistoryId}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 filteredValue="#{userController.filteredItems}"
                                 widgetVar="user"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>
                        
                        <f:facet name="header">
                            <p:outputPanel>
                                <h:outputText value="Search all fields:" />
                                <p:inputText id="globalFilter" onkeyup="PF('user').filter()" style="width:150px" placeholder="Enter keyword"/>
                            </p:outputPanel>
                        </f:facet>

                        <p:column filterBy="#{item.userHistoryId}" headerText="Id" footerText="contains" filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserHistoryTitle_userHistoryId}"/>
                            </f:facet>
                            <h:outputText value="#{item.userHistoryId}"/>
                        </p:column>
                        <p:column filterBy="#{item.username}" headerText="Id" footerText="contains" filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserHistoryTitle_username}"/>
                            </f:facet>
                            <h:outputText value="#{item.username}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserHistoryTitle_timeStamp}"/>
                            </f:facet>
                            <h:outputText value="#{item.timeStamp}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{userHistoryController.prepareCreate}" update=":UserHistoryCreateForm" oncomplete="PF('UserHistoryCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":UserHistoryViewForm" oncomplete="PF('UserHistoryViewDialog').show()" disabled="#{empty userHistoryController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":UserHistoryEditForm" oncomplete="PF('UserHistoryEditDialog').show()" disabled="#{empty userHistoryController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{userHistoryController.destroy}" update=":growl,datalist" disabled="#{empty userHistoryController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                    <h:commandLink>
                        <p:graphicImage library="images" name="xml.png"/>
                        <p:dataExporter type="xml" target="datalist" fileName="userHistoryList" pageOnly="true" />
                    </h:commandLink>

                    <h:commandLink>
                        <p:graphicImage library="images" name="csv.png" />
                        <p:dataExporter type="csv" target="datalist" fileName="userHistoryList" pageOnly="true" />
                    </h:commandLink>

                    <h:commandLink>
                        <p:graphicImage library="images" name="pdf.png" />
                        <p:dataExporter type="pdf" target="datalist" fileName="userHistoryList" pageOnly="true" />
                    </h:commandLink>

                    <h:commandLink>
                        <p:graphicImage library="images" name="excel.png" />
                        <p:dataExporter type="xls" target="datalist" fileName="userHistoryList" pageOnly="true"/>
                    </h:commandLink>                    
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
