<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BarcodeEditDlg" widgetVar="BarcodeEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditBarcodeTitle}">
            <h:form id="BarcodeEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{barcodeController.selected != null}">
                        <p:outputLabel value="#{bundle.EditBarcodeLabel_barcodeId}" for="barcodeId" />
                        <p:inputText id="barcodeId" value="#{barcodeController.selected.barcodeId}" title="#{bundle.EditBarcodeTitle_barcodeId}" required="true" requiredMessage="#{bundle.EditBarcodeRequiredMessage_barcodeId}"/>
                        <p:outputLabel value="#{bundle.EditBarcodeLabel_bookId}" for="bookId" />
                        <p:selectOneMenu id="bookId" value="#{barcodeController.selected.bookId}" required="true" requiredMessage="#{bundle.EditBarcodeRequiredMessage_bookId}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{bookController.itemsAvailableSelectOne}"
                                           var="bookIdItem"
                                           itemValue="#{bookIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{barcodeController.update}" value="#{bundle.Save}" update="display,:BarcodeListForm:datalist,:growl" oncomplete="handleSubmit(args, 'BarcodeEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="BarcodeEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
