<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FeedbackViewDlg" widgetVar="FeedbackViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewFeedbackTitle}">
            <h:form id="FeedbackViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{feedbackController.selected != null}">
                        <h:outputText value="#{bundle.ViewFeedbackLabel_feedbackId}"/>
                        <h:outputText value="#{feedbackController.selected.feedbackId}" title="#{bundle.ViewFeedbackTitle_feedbackId}"/>
                        <h:outputText value="#{bundle.ViewFeedbackLabel_date}"/>
                        <h:outputText value="#{feedbackController.selected.date}" title="#{bundle.ViewFeedbackTitle_date}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewFeedbackLabel_description}"/>
                        <h:outputText value="#{feedbackController.selected.description}" title="#{bundle.ViewFeedbackTitle_description}"/>
                        <h:outputText value="#{bundle.ViewFeedbackLabel_subject}"/>
                        <h:outputText value="#{feedbackController.selected.subject}" title="#{bundle.ViewFeedbackTitle_subject}"/>
                        <h:outputText value="#{bundle.ViewFeedbackLabel_userId}"/>
                        <h:outputText value="#{feedbackController.selected.userId}" title="#{bundle.ViewFeedbackTitle_userId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="FeedbackViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
