<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RequestNewBookEditDlg" widgetVar="RequestNewBookEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditRequestNewBookTitle}">
            <h:form id="RequestNewBookEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{requestNewBookController.selected != null}">
                        <p:outputLabel value="#{bundle.EditRequestNewBookLabel_requestNewBookId}" for="requestNewBookId" />
                        <p:inputText id="requestNewBookId" value="#{requestNewBookController.selected.requestNewBookId}" title="#{bundle.EditRequestNewBookTitle_requestNewBookId}" required="true" requiredMessage="#{bundle.EditRequestNewBookRequiredMessage_requestNewBookId}"/>
                        <p:outputLabel value="#{bundle.EditRequestNewBookLabel_bookName}" for="bookName" />
                        <p:inputText id="bookName" value="#{requestNewBookController.selected.bookName}" title="#{bundle.EditRequestNewBookTitle_bookName}" />
                        <p:outputLabel value="#{bundle.EditRequestNewBookLabel_author}" for="author" />
                        <p:inputText id="author" value="#{requestNewBookController.selected.author}" title="#{bundle.EditRequestNewBookTitle_author}" />
                        <p:outputLabel value="#{bundle.EditRequestNewBookLabel_publisher}" for="publisher" />
                        <p:inputText id="publisher" value="#{requestNewBookController.selected.publisher}" title="#{bundle.EditRequestNewBookTitle_publisher}" />
                        <p:outputLabel value="#{bundle.EditRequestNewBookLabel_edition}" for="edition" />
                        <p:inputText id="edition" value="#{requestNewBookController.selected.edition}" title="#{bundle.EditRequestNewBookTitle_edition}" />
                        <p:outputLabel value="#{bundle.EditRequestNewBookLabel_userId}" for="userId" />
                        <p:selectOneMenu id="userId" value="#{requestNewBookController.selected.userId}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{userController.itemsAvailableSelectOne}"
                                           var="userIdItem"
                                           itemValue="#{userIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{requestNewBookController.update}" value="#{bundle.Save}" update="display,:RequestNewBookListForm:datalist,:growl" oncomplete="handleSubmit(args, 'RequestNewBookEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RequestNewBookEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
