<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListRequestNewBookTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="RequestNewBookListForm">
                <p:panel header="#{bundle.ListRequestNewBookTitle}">
                    <p:dataTable id="datalist" value="#{requestNewBookController.items}" var="item"
                                 selectionMode="single" selection="#{requestNewBookController.selected}"
                                 paginator="true"
                                 rowKey="#{item.requestNewBookId}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRequestNewBookTitle_requestNewBookId}"/>
                            </f:facet>
                            <h:outputText value="#{item.requestNewBookId}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRequestNewBookTitle_bookName}"/>
                            </f:facet>
                            <h:outputText value="#{item.bookName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRequestNewBookTitle_author}"/>
                            </f:facet>
                            <h:outputText value="#{item.author}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRequestNewBookTitle_publisher}"/>
                            </f:facet>
                            <h:outputText value="#{item.publisher}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRequestNewBookTitle_edition}"/>
                            </f:facet>
                            <h:outputText value="#{item.edition}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRequestNewBookTitle_userId}"/>
                            </f:facet>
                            <h:outputText value="#{item.userId}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{requestNewBookController.prepareCreate}" update=":RequestNewBookCreateForm" oncomplete="PF('RequestNewBookCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":RequestNewBookViewForm" oncomplete="PF('RequestNewBookViewDialog').show()" disabled="#{empty requestNewBookController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":RequestNewBookEditForm" oncomplete="PF('RequestNewBookEditDialog').show()" disabled="#{empty requestNewBookController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{requestNewBookController.destroy}" update=":growl,datalist" disabled="#{empty requestNewBookController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
