<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RequestNewBookViewDlg" widgetVar="RequestNewBookViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewRequestNewBookTitle}">
            <h:form id="RequestNewBookViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{requestNewBookController.selected != null}">
                        <h:outputText value="#{bundle.ViewRequestNewBookLabel_requestNewBookId}"/>
                        <h:outputText value="#{requestNewBookController.selected.requestNewBookId}" title="#{bundle.ViewRequestNewBookTitle_requestNewBookId}"/>
                        <h:outputText value="#{bundle.ViewRequestNewBookLabel_bookName}"/>
                        <h:outputText value="#{requestNewBookController.selected.bookName}" title="#{bundle.ViewRequestNewBookTitle_bookName}"/>
                        <h:outputText value="#{bundle.ViewRequestNewBookLabel_author}"/>
                        <h:outputText value="#{requestNewBookController.selected.author}" title="#{bundle.ViewRequestNewBookTitle_author}"/>
                        <h:outputText value="#{bundle.ViewRequestNewBookLabel_publisher}"/>
                        <h:outputText value="#{requestNewBookController.selected.publisher}" title="#{bundle.ViewRequestNewBookTitle_publisher}"/>
                        <h:outputText value="#{bundle.ViewRequestNewBookLabel_edition}"/>
                        <h:outputText value="#{requestNewBookController.selected.edition}" title="#{bundle.ViewRequestNewBookTitle_edition}"/>
                        <h:outputText value="#{bundle.ViewRequestNewBookLabel_userId}"/>
                        <h:outputText value="#{requestNewBookController.selected.userId}" title="#{bundle.ViewRequestNewBookTitle_userId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="RequestNewBookViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
