<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BorrowBookCreateDlg" widgetVar="BorrowBookCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateBorrowBookTitle}">
            <h:form id="BorrowBookCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{borrowBookController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateBorrowBookLabel_borrowDate}" for="borrowDate" />
                        <p:calendar id="borrowDate" pattern="MM/dd/yyyy" value="#{borrowBookController.selected.borrowDate}" title="#{bundle.EditBorrowBookTitle_borrowDate}" required="true" requiredMessage="#{bundle.EditBorrowBookRequiredMessage_borrowDate}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateBorrowBookLabel_expiryDate}" for="expiryDate" />
                        <p:calendar id="expiryDate" pattern="MM/dd/yyyy" value="#{borrowBookController.selected.expiryDate}" title="#{bundle.EditBorrowBookTitle_expiryDate}" required="true" requiredMessage="#{bundle.EditBorrowBookRequiredMessage_expiryDate}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateUserLabel_username}" for="userId" />
                        <p:selectOneMenu id="userId" value="#{borrowBookController.selected.userId}" >
                            <f:selectItems value="#{userController.itemsAvailableSelectOne}"
                                           var="userIdItem"
                                           itemLabel="#{userIdItem.username}"
                                           itemValue="#{userIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateBookLabel_bookName}" for="bookId" />
                        <p:selectOneMenu id="bookId" value="#{borrowBookController.selected.bookId}" required="true" requiredMessage="#{bundle.EditBorrowBookRequiredMessage_bookId}">
                            <f:selectItems value="#{bookController.itemsAvailableSelectOne}"
                                           var="bookIdItem"
                                           itemLabel="#{bookIdItem.bookName}"
                                           itemValue="#{bookIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{borrowBookController.create}" value="#{bundle.Save}" update="display,:BorrowBookListForm:datalist,:growl" oncomplete="handleSubmit(args,'BorrowBookCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="BorrowBookCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
