<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListBookTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="BookListForm">
                <p:panel header="#{bundle.ListBookTitle}">
                    <p:dataTable id="datalist" value="#{bookController.items}" var="item"
                                 selectionMode="single" selection="#{bookController.selected}"
                                 paginator="true"
                                 rowKey="#{item.bookId}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 filteredValue="#{bookController.filteredItems}"
                                 widgetVar="book"
                                 >
                        
                        <f:facet name="header">
                            <p:outputPanel>
                                <h:outputText value="Search all fields:" />
                                <p:inputText id="globalFilter" onkeyup="PF('book').filter()" style="width:150px" placeholder="Enter keyword"/>
                            </p:outputPanel>
                        </f:facet>


                        <p:column filterBy="#{item.bookId}" headerText="Id" footerText="contains" filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookTitle_bookId}"/>
                            </f:facet>
                            <h:outputText value="#{item.bookId}"/>
                        </p:column>
                        <p:column filterBy="#{item.bookName}" headerText="Id" footerText="contains" filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookTitle_bookName}"/>
                            </f:facet>
                            <h:outputText value="#{item.bookName}"/>
                        </p:column>
                        <p:column filterBy="#{item.bookEdition}" headerText="Id" footerText="contains" filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookTitle_bookEdition}"/>
                            </f:facet>
                            <h:outputText value="#{item.bookEdition}"/>
                        </p:column>
                        <p:column filterBy="#{item.bookNumber}" headerText="Id" footerText="contains" filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookTitle_bookNumber}"/>
                            </f:facet>
                            <h:outputText value="#{item.bookNumber}"/>
                        </p:column>
                        <p:column filterBy="#{item.publisher}" headerText="Id" footerText="contains" filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookTitle_publisher}"/>
                            </f:facet>
                            <h:outputText value="#{item.publisher}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookTitle_quantity}"/>
                            </f:facet>
                            <h:outputText value="#{item.quantity}"/>
                        </p:column>
                        <p:column filterBy="#{item.bookStatus}" headerText="Id" footerText="contains" filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookTitle_bookStatus}"/>
                            </f:facet>
                            <h:outputText value="#{item.bookStatus}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookTitle_borrowedBookCount}"/>
                            </f:facet>
                            <h:outputText value="#{item.borrowedBookCount}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.Available}"/>
                            </f:facet>
                            <h:outputText value="#{item.quantity-item.reserveBookCount}"/>
                        </p:column>
                        <p:column filterBy="#{item.barcodeId}" headerText="Id" filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookTitle_barcodeId}"/>
                            </f:facet>
                            <h:outputText value="#{item.barcodeId}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Option"/>
                            </f:facet>
                            <p:commandButton disabled="#{bookController.disable(item)}" value="#{bundle.reserve}" action="#{bookController.reserve(item)}" />
                        </p:column>
                    </p:dataTable>
                    <h:commandLink>
                        <p:graphicImage library="images" name="xml.png"/>
                        <p:dataExporter type="xml" target="datalist" fileName="booksList" pageOnly="true" />
                    </h:commandLink>

                    <h:commandLink>
                        <p:graphicImage library="images" name="csv.png" />
                        <p:dataExporter type="csv" target="datalist" fileName="booksList" pageOnly="true" />
                    </h:commandLink>

                    <h:commandLink>
                        <p:graphicImage library="images" name="pdf.png" />
                        <p:dataExporter type="pdf" target="datalist" fileName="booksList" pageOnly="true" />
                    </h:commandLink>

                    <h:commandLink>
                        <p:graphicImage library="images" name="excel.png" />
                        <p:dataExporter type="xls" target="datalist" fileName="booksList" pageOnly="true"/>
                    </h:commandLink>                    
                </p:panel>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
