<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ContactUs}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form>
                <h:panelGrid columns="1" cellspacing="30" styleClass="margin">
                    <h:panelGrid columns="1" cellspacing="2" styleClass="contact_text">
                        <h:outputText value="Kathford International College of Engineering " style="font-weight: bold"/>
                        <h:outputText value="and Management (Engineering and Admin Block)" style="font-weight: bold"/>
                        <h:outputText value="Ring Road, Balkumari Chowk, Lalitpur" />
                        <h:outputText value="Phone: 01-5201241, 5201911" />
                        <h:outputText value="email: info@kathford.edu.np" />
                    </h:panelGrid>
                    <h:panelGrid columns="1" cellspacing="2" styleClass="contact_text">
                        <h:outputText value="Kathford International College of Engineering " style="font-weight: bold "/>
                        <h:outputText value="and Management (BBA and B.Sc. CSIT Block)" style="font-weight: bold"/>
                        <h:outputText value="Ring Road, Way to Chyasal from Balkumari Chowk, " />
                        <h:outputText value="Lalitpur" />
                        <h:outputText value="Phone: 01-5006446, 5006112" />
                        <h:outputText value="email: info@kathford.edu.np" />
                    </h:panelGrid>

                </h:panelGrid>




            </h:form>
        </ui:define>
    </ui:composition>










</html>








