<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Home</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <ui:composition template="/template.xhtml">
        <ui:define name="body">

            <h:form id="user_form" prependId="false">
                <p:panel>
                    <p:panelGrid columns="4">
                        <p:selectOneMenu id="country" value="#{userController.choose}" style="width:150px">
                            <f:selectItem itemLabel="Barcode" itemValue="barcode" noSelectionOption="true" />
                            <f:selectItem itemLabel="Username" itemValue="username" noSelectionOption="true" />
                            <p:ajax update="dtable" event="change"/>
                            <p:ajax update="rdtable" event="change"/>
                        </p:selectOneMenu>
                        <p:inputText id="name" value="#{userController.selected.username}" required="true"  requiredMessage="Username required" placeholder="Enter your username"/>
                        <p:commandButton id="id1" value="Search" actionListener="#{userController.searchUser()}" icon="ui-icon-check" update="dtable"/>


                    </p:panelGrid>
                </p:panel>

                <h1><h:outputText value="User Profile"/></h1>
                <p:dataTable id="dtable" value="#{userController.u}" var="user">
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="UserId"/>
                        </f:facet>
                        <h:outputText binding="#{userid}" value="#{user.userId}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Username"/>
                        </f:facet>
                        <h:outputText value="#{user.username}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Contact"/>
                        </f:facet>
                        <h:outputText value="#{user.contact}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Email"/>
                        </f:facet>
                        <h:outputText value="#{user.email}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Address"/>
                        </f:facet>
                        <h:outputText value="#{user.address}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Image"/>
                        </f:facet>
                        <h:outputText value="#{user.image}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Name"/>
                        </f:facet>
                        <h:outputText value="#{user.name}"/>
                    </p:column>
                </p:dataTable>




                <h1><h:outputText value="Reserved Books"/></h1>
                <p:dataTable id="rdtable" value="#{userController.r}" var="item">
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="ReserveBookId"/>
                        </f:facet>
                        <h:outputText value="#{item.reserveBookId}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="ReserveStartDate"/>
                        </f:facet>
                        <h:outputText value="#{item.reserveStartDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="ReserveFinishDate"/>
                        </f:facet>
                        <h:outputText value="#{item.reserveFinishDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="UserId"/>
                        </f:facet>
                        <h:outputText value="#{item.userId}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="BookId"/>
                        </f:facet>
                        <h:outputText value="#{item.bookId}"/>
                    </p:column>
                </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>

</html>

