<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
    </h:head>

    <h:body>

        <p:growl id="growl" life="3000" />

        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="65" header="#{bundle.AppName}">
                <h:form id="menuForm">
                    <p:menubar>
                        <f:facet name="options">
                            <p:themeSwitcher  effectSpeed="normal" effect="fade" style="width:165px; " id="defaultSwitcher" value="#{themeSwitcherBean.theme}">
                                <f:selectItems value="#{themeSwitcherBean.themes}" />
                                <p:ajax global="false" listener="#{themeSwitcherBean.saveTheme}" />
                            </p:themeSwitcher>
                            <p:commandButton type="submit" action="#{userController.selected.logout}" value="Logout" icon="ui-icon-extlink" ajax="false" style="bottom: 7px" />
                        </f:facet>
                        <p:menuitem value="#{bundle.Home}" outcome="/home" icon="ui-icon-home"/>
                        <p:submenu label="#{bundle.Maintenance}">
                            <p:menuitem value="Author" outcome="/author/List.xhtml" />
                            <p:menuitem value="Book" outcome="/book/List.xhtml" />
                            <p:menuitem value="BorrowBook" outcome="/borrowBook/List.xhtml" />
                            <p:menuitem value="Feedback" outcome="/feedback/List.xhtml" />
                            <p:menuitem value="Fines" outcome="/fines/List.xhtml" />
                            <p:menuitem value="Groups" outcome="/groups/List.xhtml" />
                            <p:menuitem value="RequestNewBook" outcome="/requestNewBook/List.xhtml" />
                            <p:menuitem value="ReserveBook" outcome="/reserveBook/List.xhtml" />
                            <p:menuitem value="ReturnBook" outcome="/returnBook/List.xhtml" />
                            <p:menuitem value="User" outcome="/user/List.xhtml" />
                            <p:menuitem value="UserHistory" outcome="/userHistory/List.xhtml" />
                        </p:submenu>
                        <p:submenu label="#{bundle.Books}" >
                            <p:menuitem value="Books List" outcome="/booksList.xhtml"/>
                            <p:menuitem value="Books Available" outcome="/booksAvailable.xhtml"/>
                            <p:menuitem value="Books Reserved" outcome="/booksReserved.xhtml"/>
                            <p:menuitem value="Books Borrowed" outcome="/booksBorrowed.xhtml"/>
                        </p:submenu>
                        <p:menuitem value="#{bundle.ContactUs}" outcome="/contactUs"  icon="ui-icon-contact"/>
                        <p:menuitem value="#{bundle.Feedback}"  outcome="/feedback" icon="ui-icon-feedback"/>
                        <p:menuitem value="Dashboard"  outcome="/dashboard" icon="ui-icon-document"/>
                    </p:menubar>
                </h:form>
            </p:layoutUnit>

            <p:layoutUnit position="south" size="60">
                <ui:insert name="footer"/>
                <div>Library&copy;2015</div>
                <div style="float: right">Kathford Library Management System</div>
                All rights reserved.
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <ui:insert name="body"/>
            </p:layoutUnit>

        </p:layout>

    </h:body>

</html>
